@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
}

html {
  font-family: 'Cabin';
	font-size: 16px;
  color: #34385e;
}

body {
  background-image: url('/assets/rose-white_topography-background-img.svg');
	background-size: cover;
  background-repeat: no-repeat;

	display: grid;
	height: 100vh;
	gap: 0;
	grid-template-rows: 50px 1fr 300px;
	grid-template-areas:
    "header"
    "main"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

h1 {
	font-size: 4rem;
	letter-spacing: 0.1rem;
}

h2 {
	padding-left: 30px;
}

li {
	list-style: none;
}

a {
	font-size: 1.5rem;
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #5A5675;
}

a:active {
	color:#F5B890;
	font-size: 1.5rem;
}

a:visited {
	color: #f8f8ff;
}

header {
	grid-area: "header";
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

header div {
	font-size: 1.5rem;
}

nav {
	display: flex;
	justify-content: end;
	align-items: center;
}

nav li {
	padding: 0 40px;
}

main {
	grid-area: "main";
}

#splash {
	/* background-image: url('/assets/rose-white_topography-background-img.svg');
	background-size: cover; */
    height: 700px;
}

#splash h1 {
	position: absolute;
	top: 350px;
	left: 225px;
}

#down-arrow {
	position: absolute;
	bottom: 100px;
	left: 850px;

	animation: 750ms infinite alternate bounce; 
}

@keyframes bounce {
	from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 25px, 0);}
}

#projects {
	padding: 25px;
	margin-top: 300px;
}

#project-card-deck {
    display: flex;
    justify-content: space-around;
		flex-wrap: wrap; 
}

.card {
    background-color: #F5B882;
    border: 1px solid #F5B890;
    border-radius: 10px;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    height: 500px;
    width: 400px;
		margin: 15px;
}

.card-body:hover {
    background-color: #fff;
    opacity: 0.5;
}

.card-header {
    border-bottom: 1px solid #34385e;
    padding: 0 25px 16px;
}

.card-body {
	display: flex;
	align-items: center;
	padding: 25px;
	height: 50%;
}

.card-footer {
	border-top: 1px solid #34385e;
}

.card-img {
	max-width: 100%;
}

footer {
	grid-area: "footer";
}
