@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Patrick+Hand&display=swap');
/* Color Pallet:
    White: #f4f1d6;
    Black: #333;
    Purple: #34385e;
    Dark Blue: #090979;
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #F1F1EE;
	background: #0D5D82;
	background-size: cover;
	background-repeat: no-repeat;

	display: grid;
	grid-template-rows: 150px 1fr 50px;
	grid-template-areas:
    "header"
    "main"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	margin: 75px 0;
}

li {
	list-style: none;
}

a {
	font-size: 1.5rem;
	color: #F1F1EE;
	text-decoration: none;
}

a:hover {
	color: #CFC715;
	font-style: italic;
	cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {
	header {
		grid-area: "header";
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	#logo img {
		max-height: 125px;
	}

	nav {
		display: flex;
		justify-content: end;
		align-items: center;
		padding-right: 100px;
	}

	nav li {
		padding: 0 40px;
	}

	main {
		grid-area: "main";

		display: grid;
		grid-template-rows: 800px 800px 1800px 1700px;
		grid-template-areas:
			"hero"
			"projects"
			"about"
			"contact";
	}

	#hero {
		grid-area: "hero";
	}

	#hero h1 {
		font-size: 4rem;
		font-weight: normal;
		letter-spacing: 0.1rem;
		margin-bottom: 0;
	}

	#hero p {
		font-size: 2rem;
		font-weight: normal;
		letter-spacing: 0.1rem;
	}

	#hero-text {
		position: absolute;
		top: 30%;
		left: 10%;
	}

	#down-arrow {
		position: absolute;
		bottom: 100px;
		left: 50%;

		animation: 750ms infinite alternate bounce; 
	}

	@keyframes bounce {
		from { transform: translate3d(0, 0, 0);}
		to { transform: translate3d(0, 25px, 0);}
	}

	#projects {
		grid-area: "projects";
		background-color: #F1F1EE; 
	}

	#projects h2 {
		color: #0D5D82;
	}

	#project-card-deck {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card {
		background-color: #34385e;
		color: #F1F1EE;
		border: 1px solid #333;
		border-radius: 10px;

		box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

		height: 300px;
		width: 400px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 25px;
		margin: 20px;
		text-align: center;
	}

	.card:hover {
		background-color: #F1F1EE;
		color: #333;
		opacity: 0.5;
	}

	.card h3 {
		margin-bottom: 0;
		font-size: 2rem;
	}

	.card p {
		color: #CFC715;
	}

	#about {
		grid-area: "about";
	}

	#bio {
		display: flex; 
		padding: 50px; 
	}

	#about h2, #contact h2 {
		color: #CFC715;
	}

	#bio-img {
		display: flex;
		justify-content: center;
		width: 50%;
	}

	#bio-img img {
		box-shadow: 
		rgba(0, 0, 0, 0.25) 0px 54px 55px, 
		rgba(0, 0, 0, 0.12) 0px -12px 30px, 
		rgba(0, 0, 0, 0.12) 0px 4px 6px, 
		rgba(0, 0, 0, 0.17) 0px 12px 13px, 
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
		max-width: 65%;
	}

	#bio-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		line-height: 2;
		letter-spacing: 0.2rem;
		width: 50%;
		padding-right: 50px;
	}

	#bio-text h3 {
		font-size: 3rem;
		font-weight: 200;
		margin-bottom: 0;
		margin-top: 0;
	}

	#bio-text p {
		font-weight: 100;
	}

	#about {
		grid-area: "about";
	}

	#skills {
		padding: 0 200px;
	}

	#skills-header {
		display: flex;
		justify-content: space-between;
		border-bottom: 5px solid #F1F1EE;
	}

	#skills-body {
		display: flex;
	}

	#skills-body h3 {
		margin-bottom: 50px;
	}

	#skills-titles {
		width: 38%;
		border-right: 5px solid #F1F1EE;
		margin-right: 15px;
	}

	#skills-titles, #skills-progress-bar {
		padding-top: 30px;
	}

	#skills-progress-bar {
		width: 100%;
		margin-top: 12px;
	}

	#skills-progress-bar .progress-bar {
		height: 25px;
		margin-bottom: 50px;
		border: 1px solid #F1F1EE;
		border-radius: 8px;
	}

	#html-progress, #css-progress, #javascript-progress, 
	#bootstrap-progress, #git-progress, #wordpress-progress,
	#ember-progress, #react-progress {
		background-color: #CFC715;
		height: 100%;
		border-radius: 8px 0 0 8px;
	}  

	#html-progress, #css-progress, #bootstrap-progress {
		width: 65%;
	}

	#javascript-progress, #git-progress, #ember-progress {
		width: 50%;
	}
	
	#wordpress-progress, #react-progress {
		width: 35%;
	}

	#contact {
		background-color: #34385e;
		color: #F1F1EE;
		grid-area: "footer";
		text-align: center;
		/* padding: 0 300px; */
	}

	#contact-title {
		padding: 0 300px;
	}

	#contact h3 {
		font-weight: 700;
		font-size: 4.25rem;
	}

	#products, #packages {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 150px;
	}

	.card-product {
		background-color: #0D5D82;
		color: #F1F1EE;
		border-radius: 5px;
		box-shadow: 
		rgba(0, 0, 0, 0.25) 0px 54px 55px, 
		rgba(0, 0, 0, 0.12) 0px -12px 30px, 
		rgba(0, 0, 0, 0.12) 0px 4px 6px, 
		rgba(0, 0, 0, 0.17) 0px 12px 13px, 
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
		width: 200px;
		padding: 25px;
		font-size: 1.25rem;
	}

	.card-product:hover {
		background-color: #F1F1EE;
		color: #0D5D82;
		content: "Email us for more info!";
	}

	.card-package {
		background-color: #F1F1EE;
		color: #0D5D82;
		border-radius: 5px;
		box-shadow: 
		rgba(0, 0, 0, 0.25) 0px 54px 55px, 
		rgba(0, 0, 0, 0.12) 0px -12px 30px, 
		rgba(0, 0, 0, 0.12) 0px 4px 6px, 
		rgba(0, 0, 0, 0.17) 0px 12px 13px, 
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
		width: 300px;
		height: 500px;
		padding: 25px;
		font-size: 2.25rem;
	}

	.card-package .card-body li {
		list-style: disc;
		font-size: 1.75rem;
	}

	#contact h4 {
		font-weight: 400;
		font-size: 1.75rem;
	}

	footer p {
		padding-left: 15px;
	}

}
