* {
	box-sizing: border-box;
}

.d-grid {
	display: grid;
}

.d-flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.just-center {
	justify-content: center;
}

.just-between {
	justify-content: space-between;
}

.just-around {
	justify-content: space-around;
}

.a-items-center {
	align-items: center;
}

.a-items-end {
	align-items: flex-end;
}

.text-white {
	color: #F1F1EE;
}

.text-black {
	color: #333;
}

.text-blue {
	color: #0D5D82;
}

.text-red {
	color: #bb371a;
}

.text-redder {
	color: #ff2f00;
}

.text-yellow {
	color: #CFC715;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.bg-white {
	background-color: #F1F1EE;
}

.bg-black {
	background-color: #333;
}

.bg-blue {
	background-color: #0D5D82;
}

.bg-purple {
	background-color: #34385e;
}

.box-shadow {
	box-shadow: 
		rgba(0, 0, 0, 0.25) 0px 54px 55px, 
		rgba(0, 0, 0, 0.12) 0px -12px 30px, 
		rgba(0, 0, 0, 0.12) 0px 4px 6px, 
		rgba(0, 0, 0, 0.17) 0px 12px 13px, 
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

