body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	background-size: cover;
	background-repeat: no-repeat;

	grid-template-rows: 100px 1fr 75px;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 4rem;
	letter-spacing: 0.3rem;
	margin: 75px 0;
}

a {
	font-size: 1.5rem;
}

header {
	visibility: hidden;
}

main {
	grid-area: "main";

	grid-template-rows: 1.5fr 1.5fr 2.7fr 2.3fr;
	grid-template-areas:
		"hero"
		"projects"
		"about"
		"contact";
}

#hero {
	grid-area: "hero";
	padding: 150px;
}

#hero h1 {
	font-size: 8rem;
	letter-spacing: 0.1rem;
}

#hero p {
	font-size: 6rem;
	letter-spacing: 0.1rem;
}

#down-arrow {
	animation: 750ms infinite alternate bounce; 
}

#down-arrow span i {
	font-size: 15rem;
}

@keyframes bounce {
	from { transform: translate3d(0, 0, 0);}
	to { transform: translate3d(0, 25px, 0);}
}

#projects {
	grid-area: "projects";
}

#projects-card-deck .card {
	border: 1px solid #333;
	border-radius: 10px;

	width: 900px;
	height: 450px;
	padding: 25px;
	margin: 25px 50px;
}

#projects-card-deck .card h3 {
	margin-bottom: 0;
	font-size: 3rem;
}

#projects-card-deck .card p {
	font-size: 2rem;
}

#about {
	grid-area: "about";
}

#bio {
	padding: 50px; 		
}

#bio-img img {
	width: 700px;
	height: 700px;
	max-width: 100%;
}

#bio-text {
	line-height: 2;
	letter-spacing: 0.2rem;
	font-size: 2rem;
	padding: 50px;
}

#bio-text h3 {
	font-size: 3rem;
	padding-bottom: 0;
}

#bio-text p {
	font-weight: 100;
	padding-top: 0;
}

#skills {
	padding: 0 100px 150px;
}

#skills-titles h3 {
	margin-bottom: 52px;
}

#skills-titles {
	width: 30%;
	border-right: 5px solid #F1F1EE;
}

#skills-titles, #skills-level {
	margin-bottom: 30px;
}

#skills-progress-bar {
	width: 100%;
	margin-left: 30px;
}

#skills-progress-bar .progress-bar {
	height: 25px;
	margin-bottom: 50px;
	border: 1px solid #F1F1EE;
	border-radius: 8px;
}

#html-progress, #css-progress, #javascript-progress, 
#bootstrap-progress, #git-progress, #wordpress-progress,
#ember-progress, #react-progress {
	background-color: #CFC715;
	height: 100%;
	border-radius: 8px 0 0 8px;
}  

#html-progress, #css-progress, #bootstrap-progress {
	width: 65%;
}

#javascript-progress, #git-progress, #ember-progress {
	width: 50%;
}

#wordpress-progress, #react-progress {
	width: 35%;
}

#contact {
	grid-area: "footer";
	text-align: center;
}

#contact h3 {
	font-weight: 700;
	font-size: 4.25rem;
}

.card-product {
	border-radius: 10px;
	width: 80%;
	height: 200px;
	font-size: 1.25rem;
	margin: 0 50px 75px; 
}

.card-product .card-header {
	width: 25%;
	border-right: 1px solid #333;
}

.card-product .card-body {
	width: 75%;
	padding: 15px;
	font-size: 2rem;
}

#contact h4 {
	margin: 150px 0 50px 0;
	font-weight: 400;
	font-size: 3rem;
}

#business-card {
	height: 400px;
	width: 800px;
	margin-top: 50px;
	border-radius: 3px;
	background: linear-gradient(#F1F1EE, #bb371a);
}

#business-card .card-body {
	height: 80%;
}

#left, #right {
	width: 50%;
}

#left img {
	width: 400px;
	height: 400px;
	max-width: 100%;
}

#right {
	font-size: 1.5rem;
}

#business-card .card-footer {
	height: 20%;
	font-size: 1.45rem;
}

footer p {
	padding: 15px;
	font-size: 1.5rem;
}
