
@media screen and (min-width: 480px) and (max-width: 1023px) {
	body {
	grid-template-rows: 100px 1fr 75px;
	grid-template-areas:
		"header"
    "main"
    "footer";
	}
	
	a:hover {
		background-color: #F1F1EE;
		color: #CFC715;
		font-style: italic;
		cursor: pointer;
	}	

	header {
		visibility: visible;
		grid-area: "header";
		padding: 25px;
		border-bottom: 1px solid #F1F1EE;

		justify-content: center;
		align-items: center;
	}

	header ul { list-style: none;}

	nav li {
		padding: 0 40px;
	}

	nav a {
		font-size: 2rem;
		text-decoration: none;
	} 

	#hero {
		padding: 100px;
	}

	#hero h1 {
		font-size: 6rem;
		margin-bottom: 0;
	}
	
	#hero p {
		font-size: 3.5rem;
	}

	#down-arrow {
		padding-top: 150px;
	}

	#down-arrow span i {
		font-size: 10rem;
	}
}
